{% extends "layouts/main.html" %}

{% block title %}DESKIVO — Home{% endblock %}

{% block menu %}
{% include "../partial/header.html" %}
{% endblock %}

{% block content %}
<h1>Painel Principal</h1>

<!--<button onclick="api.window.open('pages/list-customer', { title: 'Clientes' })">
    Clientes
</button>

<button onclick="api.window.openModal('pages/customer', { width: 900, height: 600, title: 'Cadastro' })">
    Cadastro
</button>

<button onclick="api.window.openModal('pages/list-customer', { width: 900, height: 600, title: 'Clientes' })">
    Clientes (Modal)
</button>-->
{% endblock %}