{% extends "layouts/main.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<h2>Lista de Clientes</h2>
<div class="row">
    <div class="col-12 mb-2">
        <button class="btn btn-success"
            onclick="api.window.openModal('pages/customer', { width: 900, height: 600, title: 'Cadastrar Cliente' })">
            <i class="fa-solid fa-plus"></i>
            Novo cliente
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table id="table-customers" class="table table-striped table-hover table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="file:///{{ assets }}/pages/list-customer.js"></script>
{% endblock %}