<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DESKIVO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-plus"></i>
                        Cadastro
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <span class="dropdown-item"
                                onclick="api.window.open('pages/list-customer', { title: 'Clientes' })"
                                style="cursor: pointer;">
                                <i class="fa-solid fa-users"></i>
                                Cliente
                            </span>
                        </li>
                        <li>
                            <span class="dropdown-item"
                                onclick="api.window.open('pages/list-product', { title: 'Produtos' })"
                                style="cursor: pointer;">
                                <i class="fa-solid fa-barcode"></i>
                                Produto
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--
<a href="#" onclick="api.window.open('pages/home')">
    <i class="fa-solid fa-house"></i> Home
</a>
<a href="#" onclick="api.window.openModal('pages/customer', { width: 500, height: 400, title: 'Novo Cliente' })">
    <i class="fa-solid fa-user-plus"></i> Novo Cliente
</a>
-->