<nav class="navbar">
    <span class="brand">
        <i class="fa-solid fa-cube"></i> DESKIVO
    </span>
    <a href="#" onclick="api.window.open('pages/list-customer', { title: 'Clientes' })">
        <i class="fa-solid fa-users"></i> Clientes
    </a>
    <!--<a href="#" onclick="api.window.open('pages/home')">
        <i class="fa-solid fa-house"></i> Home
    </a>
    <a href="#" onclick="api.window.openModal('pages/customer', { width: 500, height: 400, title: 'Novo Cliente' })">
        <i class="fa-solid fa-user-plus"></i> Novo Cliente
    </a>-->
</nav>